/* RESET CSS */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');

:root{
    /* COLORS */

    /* Primary */
    --Soft_blue : hsla(215, 52%, 70%, 0.7);
    --Cyan: hsl(178, 100%, 50%, 0.7);
    
    /*  Neutral */
    --Very_dark_blue: hsl(217, 54%, 11%);
    --Very_dark_blue2: hsl(216, 50%, 16%);
    --Very_dark_blue3: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%, 0.80)
}

*{
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

body{
    background-color: var(--Very_dark_blue);   
}

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 600px;
    width: 350px;
    background-color: var(--Very_dark_blue2);
    border-radius: 15px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.illustration img, .overlay{
    position: absolute;
    top: 25px;
    left: 25px;
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.overlay{
    background-color: var(--Cyan);
    opacity: 0;
    transition: opacity 0.3s 0s ease-in;
}

.overlay svg{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.content{
position: absolute;
top: 355px;
}

a{
    text-decoration: none;    
}

h1{
    margin: 0 25px ;
}
h1 a{
    font-weight: 700;
    font-size: 1.2em;
    color: var(--White);
    transition: color 0.3s 0s ease-in;
}

p{
    margin: 15px 25px ;
    color:var(--Soft_blue)
}

.buy{
    margin: 15px 25px;
    display: flex;
    justify-content:space-between;
}

.price, .countdown {
    display: flex;
    align-items: center;
}

.countdown p {
    margin-left: 10px;
    margin-right: 0;
    font-weight: 400;
    font-size: 0.9em;
}


h2{
    color: var(--Cyan);
    font-weight: 600;
    font-size: 0.9em;
    margin-left: 10px;
}

hr{
    height:1px;
    width: 300px;
    margin-left: 25px;
    text-align: center;
    border-width:0;
    color: hsla(215, 52%, 70%, 0.2);
    background-color: hsla(215, 52%, 70%, 0.2)
}
.creator{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.creator img{
    height: 30px;
    border-radius: 20px;
    border: 1px solid var(--White);
    margin-left: 25px;
}

.creator p, .creator p a{
    font-weight: 400;
    font-size: 16px
}

.creator p a {
    color: var(--White);
    transition: color 0.3s 0s ease-in;
}

p a:hover, a:hover{
    color: var(--Cyan);
}

.overlay:hover{
    opacity: 1;
    transition: opacity 0.3s 0s ease-in;
}
